
@import './variable.scss';
@import './uni.css';
.van-cell:not(:last-child)::after{
  border-color: transparent
}
body{
  padding-bottom: env(safe-area-inset-bottom);
  padding-bottom: constant(safe-area-inset-bottom);
}
div#app.at-night{
  min-height: 100vh;
  background-color: $black2;
  .vuePickera .area_roll{
  background-color: $black2;
}
.vuePickera .area_btn_box{
  background-color: $black1;
}
.blackBorder{
  border-color: $black1;
}
.vuePickera .area_ctrl{
  color:#fff;
}
  .van-picker-column__item--selected{
  color: #fff;
  } 
   .van-popup--bottom{
     background-color: $black2;
     .pop-title{
      background-color: $black2;
      border-color: $black1;
    }
    .van-cell{
      background-color: $black3;
      span{
        color: #fff;
      }
     } 
   }
  .el-slider__runway{
    background-color: $black1;
  }
  .self-mask{
    background-color: rgba(0,0,0,0.7);
  }
  div.wrap{
    background-color: $black1;
    color: #fff;
  }
  div.root-el{
    background-color: $black2;
    border-color: $black1;
    color: #fff;
  }
  .textc1{
    color: #fff;
  }
  .textc2{
    color: $gray1;
  }
  .black1{
    background-color: $black1;
    background: $black1;
    box-shadow:none;
    border-color: transparent;

  }
  .black2{
    background-color: $black2;
    background: $black2;
    border-color: transparent;
    box-shadow:none

  }
  .black4{
    background-color: #1f2e23;
    background: #1f2423;
  }
  .blue1{
    background-color: $blue1;
    background: $blue1;
    border-color: $blue1
  }
}
div#app{
  .vuePickera .area_roll_mask{
  -webkit-mask:none;
}
.vuePickera .area_roll{
  background-color: white;
  -webkit-mask:none;
}
.vuePickera .area_btn_box{
  background-color: white;
}
.vuePickera .area_grid{
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}
.vuePickera .area_ctrl{
  color:gray;
}
.vuePickera .larea_cancel{
  color:gray;
}
}
