@font-face {
	font-family: uniicons;
	font-weight: normal;
	font-style: normal;
	src: url('https://img-cdn-qiniu.dcloud.net.cn/fonts/uni.ttf') format('truetype');
}
/*通用 */
div{
	line-height:1.8;
}
progress, checkbox-group{
	width: 100%;
}
form {
	width: 100%;
}
.uni-flex {
	display: flex;
	flex-direction: row;
}
.uni-flex-item {
	flex: 1;
}
.uni-row {
	flex-direction: row;
}
.uni-column {
	flex-direction: column;
}
.uni-link{
	color:#576B95;
	font-size:26upx;
}
.uni-center{
	text-align:center;
}
.uni-inline-item{
	display: flex;
	flex-direction: row;
	align-items:center;
}
.uni-inline-item span {
	margin-right:.20rem;
}
.uni-inline-item span:last-child{
	margin-right:.00rem;
	margin-left:.20rem;
}
/* 字体icon */
.uni-icon {
	font-family: uniicons;
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	display: inline-block;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
}
.uni-icon-closeempty:before {
	content: '\e460';
}
.uni-icon-checkmarkempty:before {
	content: '\e472';
}
.uni-icon-arrowdown:before {
	content: '\e581';
}
/* 自加 */
.self-hover{
  opacity: 0.7 !important;
}
* {
  box-sizing: border-box;
}
*:not(input) { 
    user-select: none; 
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    touch-callout: none;
}
input{
  border: 0;
	-webkit-appearance:none;
}
.self-mask{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1200;
  background-color: rgba(0, 0, 0, 0.5);
}
.padding1{
  padding: 0.1px 0;
}
.el-slider__runway .el-slider__button-wrapper{z-index: 8 ;}
.el-slider__runway .el-slider__bar{    background-color: #409dE5;}
div.wrap{
  width: 100%;
}
